{% extends 'layout.html.twig' %}






{% block body %}


    <div class="card border-0 p-0 col-12 col-md-8"  >
        <div class="card-header bg-dark text-white ">
            <h2 class="text-uppercase">Commander vos billets</h2>
        </div>
        <div class="card-body">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <small id="emailHelp" class="form-text text-muted">Les billets seront envoyés à cette adresse.</small>
            </div>

            <div class="form-group">
                {{ form_label(form.nbrTickets) }}
                {{ form_widget(form.nbrTickets) }}
                <small id="emailHelp" class="form-text text-muted">Pour une commande de plus de 10 billets, repassez une nouvelle commande ou contactez le musée.</small>
            </div>

            <div class="form-group">
                {{ form_label(form.visiteDay) }}
                {{ form_widget(form.visiteDay) }}
                <small id="emailHelp" class="form-text text-muted">Le musée est ouvert tous les jours sauf le mardi, le 01/05, le 01/11 et le 25/12.<br>
                    Il n’est pas possible de réserver pour les dimanches et les jours fériés.</small>
            </div>

            <div class="form-group">
                {{ form_label(form.ticketType) }}
                {{ form_widget(form.ticketType) }}
                <small id="emailHelp" class="form-text text-muted">Le billet « Demi-journée » ne permet de rentrer qu’à partir de 14h00.</small>
            </div>

            {{ form_rest(form) }}

            <button type="submit" class="text-uppercase btn btn-dark float-right">Commander</button>
            {{ form_end(form) }}
        </div>

    </div>

    <div class="card border-0 p-0 col-12 col-md-3 ml-md-1 mb-2 mb-md-0 order-md-last order-first" >
        <div class="card-header bg-dark text-white ">
            <h2 class="text-uppercase">Tarifs</h2>
        </div>
        <div class="card-body p-0">
            <ul class="list-group">
                <li class="text-uppercase list-group-item d-flex justify-content-between align-items-center">
                    Moins de 4 ans
                    <span class="badge badge-white badge-pill">gratuit</span>
                </li>
                <li class="text-uppercase list-group-item d-flex justify-content-between align-items-center">
                    à partir de 4 ans et jusqu’à 12 ans
                    <span class="badge badge-white badge-pill">8 €</span>
                </li>
                <li class="text-uppercase list-group-item d-flex justify-content-between align-items-center">
                    à partir de 12 ans
                    <span class="badge badge-white badge-pill">16 €</span>
                </li>
                <li class="text-uppercase list-group-item d-flex justify-content-between align-items-center">
                    à partir de 60 ans
                    <span class="badge badge-white badge-pill">12 €</span>
                </li>

            </ul>



        </div>
        <div class="card-footer text-muted" style="height: 100%;">
            Un tarif « réduit » de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)
        </div>

    </div>









{% endblock %}


