{% extends 'layout.html.twig' %}

{% block body %}

    {% for ticket in order.tickets %}
        <li>
            {{ ticket.name }}
            {{ ticket.lastName }}
            {{ ticket.country }}
            {{ ticket.birthDate|date("d/m/Y") }}
            {{ ticket.reducedPrice }}
            {{ ticket.price }}
        </li>
    {% endfor %}
{% endblock %}
