{% extends 'layout.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('checkout') %}

        {{ flashMessage }}

    {% endfor %}

    {% for ticket in order().tickets %}
        <li>
            {{ ticket.name }}
            {{ ticket.lastName }}
            {{ ticket.country }}
            {{ ticket.birthDate|date("d/m/Y") }}
            {{ ticket.reducedPrice }}
            {{ ticket.price }}
        </li>
    {% endfor %}
    <form action="{{ path('summaryPage') }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe_publishable_key }}"
                data-amount= "{{ order().totalPrice * 100 }} "
                data-name="Stripe.com"
                data-description="Billetterie du Louvre"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="false"
                data-currency="eur"
                data-email="{{ order().email }}">

        </script>
    </form>
{% endblock %}
