{% extends 'layout.html.twig' %}

{% block body %}

    <div class="card border-0 p-0 col-12"  >

        <div class="card-header bg-dark text-white ">
            <h2 class="text-uppercase">Récapitulatif de la commande</h2>
        </div>

        <div class="card-body">

            {% for flashMessage in app.session.flashbag.get('checkout') %}
                <div class="alert alert-danger" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="card">
                <div class="card-header text-light bg-dark">
                    <div class="d-flex flex-column">
                        <small>Email: {{ order.email }}</small>
                        <small>Date de la visite: {{ order.visiteDay|date("d/m/Y") }}</small>
                    </div>
                </div>

                <div class="card-body p-0 ">
                    <ul class="list-group ">
                        {% for ticket in order.tickets %}
                            <li class="text-uppercase rounded-0 list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    {{ ticket.name }} {{ ticket.lastName }}<br>
                                    <span class="text-muted">{{ ticket.birthDate|date("d/m/Y") }}</span>
                                    {% if ticket.reducedPrice %}
                                        <br><span class="badge badge-dark mb-1">Tarif réduit</span>
                                    {% endif %}
                                </div>
                                <span class="badge badge-white badge-pill">{{ ticket.price}} €</span>

                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card-footer text-uppercase d-flex justify-content-between">
                    <strong>Total commande:</strong>
                    <strong>{{ order.totalPrice }} €</strong>
                </div>


            </div>
        </div>
        <div class="card-footer d-flex  justify-content-between">
            <a class="btn btn-dark btn-sm" href="{{ path('homepage') }}" role="button">ACCUEIL</a>
            <form action="{{ path('summaryPage') }}" method="POST">
                <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
                <input class="btn btn-dark btn-sm"
                    type="submit"
                    value="PAYER COMMANDE"
                    data-key="{{ stripe_publishable_key }}"
                    data-amount= "{{ order.totalPrice * 100 }}"
                    data-name="Musée du Louvre"
                    data-description="Billetterie"
                    data-image="{{ asset('img/logo_black_png.PNG') }}"
                    data-locale="auto"
                    data-zip-code="false"
                    data-currency="eur"
                    data-email="{{ order.email }}"
                />

                <script src="https://checkout.stripe.com/v2/checkout.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
                <script>
                    $(document).ready(function() {
                        $(':submit').on('click', function(event) {
                            event.preventDefault();
                            var $button = $(this),
                                $form = $button.parents('form');
                            var opts = $.extend({}, $button.data(), {
                                token: function(result) {
                                    $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                                }
                            });
                            StripeCheckout.open(opts);
                        });
                    });
                </script>
            </form>
        </div>
    </div>
{% endblock %}
